* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none; }

@font-face {
  font-family: LatamSans;
  src: url(Fuentes/LatamSans-Regular.otf); }

.dark {
  background-color: #000000;
  color: #ffffff;
  font-family: LatamSans; }

.ligth {
  background-color: #ffffff;
  color: #000000;
  font-family: LatamSans; }

header .barraMenu {
  width: 100%;
  height: 90px;
  background-color: #66ff00; }
  header .barraMenu .marca {
    font-size: 40px;
    margin-left: 15px;
    border: #000000 2px solid;
    padding-left: 5px;
    padding-right: 5px; }
  header .barraMenu .marca2 {
    font-size: 40px;
    margin: 0 auto;
    border: #000000 2px solid;
    padding-left: 5px;
    padding-right: 5px; }
  header .barraMenu #btnEmpresas {
    color: #000000; }
  header .barraMenu .dropdown .imgCarrito {
    width: 40px;
    margin-left: 20px; }
  header .barraMenu .dropdown #contador {
    text-align: center;
    position: absolute;
    margin-top: -8px;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    color: white;
    margin-left: -8px;
    font-size: 12px; }
  header .barraMenu .dropdown .dropdown-toggle::after {
    display: none; }
  header .barraMenu .dropdown .dropdown-menu {
    height: 250px;
    overflow-y: scroll; }
    header .barraMenu .dropdown .dropdown-menu .dropdown-item {
      width: 95%; }
      header .barraMenu .dropdown .dropdown-menu .dropdown-item:hover {
        background-color: white; }
    header .barraMenu .dropdown .dropdown-menu li {
      margin: 5px; }
      header .barraMenu .dropdown .dropdown-menu li table tbody .precio {
        text-align: right; }
      header .barraMenu .dropdown .dropdown-menu li table tbody .eliminar {
        display: flex;
        justify-content: space-around; }
        header .barraMenu .dropdown .dropdown-menu li table tbody .eliminar .btnEliminar {
          border: none;
          background-color: white; }
          header .barraMenu .dropdown .dropdown-menu li table tbody .eliminar .btnEliminar .fotoBin {
            font-size: 25px; }
            header .barraMenu .dropdown .dropdown-menu li table tbody .eliminar .btnEliminar .fotoBin:hover {
              color: #ff0000; }
      header .barraMenu .dropdown .dropdown-menu li table tfoot .textoTabla {
        text-align: right; }
      header .barraMenu .dropdown .dropdown-menu li table tfoot .subtotal {
        text-align: right; }
      header .barraMenu .dropdown .dropdown-menu li table tfoot .total {
        color: green;
        font-weight: bolder;
        text-align: right; }
      header .barraMenu .dropdown .dropdown-menu li button {
        width: 100%; }
  header .barraMenu .switch {
    margin-right: 10px;
    background: #1d2233;
    border-radius: 1000px;
    border: none;
    position: relative;
    cursor: pointer;
    display: flex;
    outline: none; }
    header .barraMenu .switch::after {
      content: "";
      display: block;
      width: 30px;
      height: 30px;
      position: absolute;
      background: #ffffff;
      top: 0;
      left: 0;
      right: unset;
      border-radius: 100px;
      transition: 0.3s ease all;
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
    header .barraMenu .switch.ligth {
      background: #ffffff;
      color: #4e4e4e; }
      header .barraMenu .switch.ligth::after {
        background: #1d2233;
        right: 0;
        left: unset; }
    header .barraMenu .switch .sol {
      margin: 5px;
      width: 20px;
      height: 20px;
      line-height: 30px;
      display: block;
      background: none;
      color: #4e4e4e; }
    header .barraMenu .switch .luna {
      margin: 5px;
      width: 20px;
      height: 20px;
      line-height: 30px;
      display: block;
      background: none;
      color: #ffffff; }

.logo .techoCasa {
  margin-top: 30px;
  text-align: center;
  font-size: 170px;
  padding-left: 285px; }

.logo h1 {
  text-align: center;
  font-size: 90px;
  margin-top: -160px; }

.logo h2 {
  text-align: center;
  font-size: 20px;
  margin-top: -15px;
  letter-spacing: 10px;
  text-decoration: overline; }
  .logo h2 span {
    letter-spacing: 0px; }

.fotosIndex {
  width: 800px;
  margin: 0 auto;
  height: 350px;
  overflow-y: hidden;
  gap: 10px; }
  .fotosIndex .carousel-item img {
    width: 800px; }

.dark #cajaproductos {
  width: 95%;
  margin: 0 auto; }
  .dark #cajaproductos .formulario {
    background-color: #dbdbdb;
    width: 95%;
    height: 100px;
    margin: 0 auto; }
    .dark #cajaproductos .formulario .formBuscador {
      padding-top: 40px;
      justify-content: center; }
      .dark #cajaproductos .formulario .formBuscador input {
        width: 50%; }
      .dark #cajaproductos .formulario .formBuscador #btnBuscar {
        width: 8%;
        margin-left: 10px;
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        padding-left: 9px;
        padding-right: 9px;
        border-radius: 4px;
        color: #000000;
        background-color: #66ff00;
        border: 1px solid #2f7402; }
        .dark #cajaproductos .formulario .formBuscador #btnBuscar:hover {
          background-color: #5de900; }
  .dark #cajaproductos .productosVarios {
    width: 95%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    margin: 0 auto;
    background-color: #dbdbdb;
    display: grid;
    grid-template-columns: 15% 85%; }
    .dark #cajaproductos .productosVarios .barraLateral {
      height: 100%;
      padding-top: 20px;
      padding-left: 25px;
      color: #000000; }
      .dark #cajaproductos .productosVarios .barraLateral .titulo {
        margin-top: 20px;
        margin-bottom: 10px; }
      .dark #cajaproductos .productosVarios .barraLateral .botonForm {
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        padding-left: 9px;
        padding-right: 9px;
        border-radius: 4px;
        color: #000000;
        background-color: #66ff00;
        border: 1px solid #2f7402; }
        .dark #cajaproductos .productosVarios .barraLateral .botonForm:hover {
          background-color: #5de900; }
    .dark #cajaproductos .productosVarios .productos {
      margin: 25px;
      display: grid;
      grid-template-columns: 33% 33% 33%; }
      .dark #cajaproductos .productosVarios .productos .card {
        margin: 10px; }
        .dark #cajaproductos .productosVarios .productos .card:hover {
          transform: scale(1.03);
          transition: 1000ms; }
        .dark #cajaproductos .productosVarios .productos .card .tituloFoto {
          color: #000000;
          text-align: center;
          padding-top: 5px; }
        .dark #cajaproductos .productosVarios .productos .card .descripcion {
          display: inline-flex;
          margin-bottom: 5px; }
          .dark #cajaproductos .productosVarios .productos .card .descripcion .textoDescripcion {
            padding-left: 25px;
            padding-top: 8px;
            color: #000000; }
          .dark #cajaproductos .productosVarios .productos .card .descripcion .botonAgregar {
            padding-top: 6.5px;
            padding-bottom: 6.5px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 4px;
            color: #000000;
            background-color: #66ff00;
            margin-left: 65px;
            height: 40px;
            border: 1px solid #2f7402; }
            .dark #cajaproductos .productosVarios .productos .card .descripcion .botonAgregar:hover {
              background-color: #5de900; }

body #cajaproductos {
  width: 95%;
  margin: 0 auto; }
  body #cajaproductos .formulario {
    background-color: #161616;
    width: 95%;
    height: 100px;
    margin: 0 auto; }
    body #cajaproductos .formulario .formBuscador {
      padding-top: 40px;
      justify-content: center; }
      body #cajaproductos .formulario .formBuscador input {
        width: 50%; }
      body #cajaproductos .formulario .formBuscador #btnBuscar {
        width: 8%;
        margin-left: 10px;
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        padding-left: 9px;
        padding-right: 9px;
        border-radius: 4px;
        color: #000000;
        background-color: #66ff00;
        border: 1px solid #2f7402; }
        body #cajaproductos .formulario .formBuscador #btnBuscar:hover {
          background-color: #5de900; }
  body #cajaproductos .productosVarios {
    width: 95%;
    margin-top: 30px;
    margin-bottom: 30px;
    height: auto;
    margin: 0 auto;
    background-color: #161616;
    display: grid;
    grid-template-columns: 15% 85%; }
    body #cajaproductos .productosVarios .barraLateral {
      height: 100%;
      padding-top: 20px;
      padding-left: 25px;
      color: #ffffff; }
      body #cajaproductos .productosVarios .barraLateral .titulo {
        margin-top: 20px;
        margin-bottom: 10px; }
      body #cajaproductos .productosVarios .barraLateral .botonForm {
        padding-top: 6.5px;
        padding-bottom: 6.5px;
        padding-left: 9px;
        padding-right: 9px;
        border-radius: 4px;
        color: #000000;
        background-color: #66ff00;
        border: 1px solid #2f7402; }
        body #cajaproductos .productosVarios .barraLateral .botonForm:hover {
          background-color: #5de900; }
    body #cajaproductos .productosVarios .productos {
      margin: 25px;
      display: grid;
      grid-template-columns: 33% 33% 33%; }
      body #cajaproductos .productosVarios .productos .card {
        margin: 10px; }
        body #cajaproductos .productosVarios .productos .card:hover {
          transform: scale(1.03);
          transition: 1000ms; }
        body #cajaproductos .productosVarios .productos .card .tituloFoto {
          color: #000000;
          text-align: center;
          padding-top: 5px; }
        body #cajaproductos .productosVarios .productos .card .descripcion {
          display: inline-flex;
          margin-bottom: 5px; }
          body #cajaproductos .productosVarios .productos .card .descripcion .textoDescripcion {
            padding-left: 25px;
            padding-top: 8px;
            color: #000000; }
          body #cajaproductos .productosVarios .productos .card .descripcion .botonAgregar {
            padding-top: 6.5px;
            padding-bottom: 6.5px;
            padding-left: 10px;
            padding-right: 10px;
            border-radius: 4px;
            color: #000000;
            background-color: #66ff00;
            margin-left: 65px;
            height: 40px;
            border: 1px solid #2f7402; }
            body #cajaproductos .productosVarios .productos .card .descripcion .botonAgregar:hover {
              background-color: #5de900; }

.textoApi {
  text-align: center;
  width: 90%;
  margin: 0 auto; }
  .textoApi h3 {
    color: peru; }

.mainEmpresas {
  height: auto;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #dbdbdb; }
  .mainEmpresas h3 {
    color: #000000;
    margin-left: 20px; }
  .mainEmpresas .formulario {
    width: 90%;
    margin-left: 20px; }
    .mainEmpresas .formulario .botonForm {
      background-color: #66ff00;
      color: black;
      border: none; }
  .mainEmpresas .formulario2 {
    width: 90%;
    margin-left: 20px;
    margin-top: 20px; }
    .mainEmpresas .formulario2 .botonForm {
      background-color: #66ff00;
      color: black;
      border: none; }
  .mainEmpresas #empresa .tituloEmpresa {
    color: black;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 200px; }
  .mainEmpresas #empresa .textoForm {
    font-size: 18px;
    color: black;
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 30px; }
  .mainEmpresas #productosPorEmpresa {
    width: 90%;
    height: auto;
    background-color: #dbdbdb;
    color: #000000;
    padding-bottom: 20px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse; }
    .mainEmpresas #productosPorEmpresa h1 {
      text-align: center;
      font-weight: bold;
      padding-top: 20px; }
    .mainEmpresas #productosPorEmpresa .tarjeta {
      width: 42vw;
      margin: 15px;
      border: #4d4646 1px solid; }
      .mainEmpresas #productosPorEmpresa .tarjeta .costoBajo {
        background-color: #00d60b; }
      .mainEmpresas #productosPorEmpresa .tarjeta .costoMedio {
        background-color: #eeff00; }
      .mainEmpresas #productosPorEmpresa .tarjeta .costoAlto {
        background-color: #ec0909; }

.mainCompra {
  margin-top: 120px; }
  .mainCompra form {
    width: 70%; }
    .mainCompra form .boton {
      text-align: right; }
      .mainCompra form .boton .btn {
        background-color: #f32323;
        border: none; }
        .mainCompra form .boton .btn:hover {
          background-color: #d60f0f; }
    .mainCompra form .listado {
      display: flex;
      justify-content: right; }
      .mainCompra form .listado table {
        background-color: #161616;
        border-radius: 5px;
        color: #ffffff;
        width: 50%; }
        .mainCompra form .listado table .precio {
          text-align: right; }
        .mainCompra form .listado table thead th {
          color: #66ff00; }
        .mainCompra form .listado table tfoot .textoTablaST {
          text-align: right;
          color: #969696;
          border-bottom: none; }
        .mainCompra form .listado table tfoot .textoTablaT {
          text-align: right;
          color: white;
          border-bottom: none; }
        .mainCompra form .listado table tfoot .subtotal {
          color: grey;
          text-align: right;
          border-top: 2px white solid; }
        .mainCompra form .listado table tfoot .total {
          text-align: right;
          color: #66ff00;
          border-top: white 2px solid;
          border-bottom: none; }
  .mainCompra .textoApiF {
    color: #000000;
    margin-top: 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center; }
    .mainCompra .textoApiF .datosPersonales {
      width: 25%;
      background-color: #ffffff;
      margin: 0 auto;
      border-bottom: 1px #161616 solid;
      border-radius: 5px 5px 0px 0px; }
      .mainCompra .textoApiF .datosPersonales h3 {
        margin: 5px;
        padding: 5px;
        font-size: 16px; }
    .mainCompra .textoApiF .list {
      display: flex;
      justify-content: space-around; }
      .mainCompra .textoApiF .list .table {
        background-color: #ffffff;
        width: 25%;
        color: black;
        border-radius: 0px 0px 5px 5px;
        margin-bottom: 30px; }
        .mainCompra .textoApiF .list .table .precioP, .mainCompra .textoApiF .list .table .subtotalF, .mainCompra .textoApiF .list .table .totalF, .mainCompra .textoApiF .list .table .textoTablaT, .mainCompra .textoApiF .list .table .textoTablaST, .mainCompra .textoApiF .list .table .precio {
          text-align: right; }
        .mainCompra .textoApiF .list .table .nombre, .mainCompra .textoApiF .list .table .producto {
          text-align: left; }
        .mainCompra .textoApiF .list .table .totalF, .mainCompra .textoApiF .list .table .textoTablaT {
          border-bottom: none; }
