.mainCompra{
    margin-top: 120px;
    form{
        width: 70%;
        .boton{
            text-align: right;
            .btn{
                background-color: rgb(243, 35, 35);
                border: none;
                &:hover{
                    background-color: rgb(214, 15, 15);
                }
            }
        }
        .listado{
            display: flex;
            justify-content: right;
            table{
                color: white;
                width: 50%;
                .precio{
                    text-align: right;
                }
                thead{
                    th{
                        color: #66ff00;
                    }
                }
                tfoot{
                    .textoTablaST{
                        text-align: right;
                        color: grey;
                        border-bottom: none;
                    }
                    .textoTablaT{
                        text-align: right;
                        color: white;
                        border-bottom: none;
                    }
                    .subtotal{
                        color: grey;
                        text-align: right;
                        border-top: 2px white solid;
                    }
                    .total{
                        text-align: right;
                        color: #66ff00;
                        border-top: white 2px solid;
                    }
                }
            }
        }
    }
    .textoApiF{
        margin-top: 50px;
        width: 50%;
        text-align: center;
        h3{
            font-size: 16px;
        }
        .list{
            display: flex;
            justify-content: space-around;
            .table{
                width: 60%;
                color: white;
            }   
        }

    }
}