.mainCompra{
    margin-top: 120px;
    form{
        width: 70%;
        .boton{
            text-align: right;
            .btn{
                background-color: rgb(243, 35, 35);
                border: none;
                &:hover{
                    background-color: rgb(214, 15, 15);
                }
            }
        }
        .listado{
            display: flex;
            justify-content: right;
            table{
                background-color: #161616;
                border-radius: 5px;
                color: #ffffff;
                width: 50%;
                .precio{
                    text-align: right;
                }
                thead{
                    th{
                        color: #66ff00;
                    }
                }
                tfoot{
                    .textoTablaST{
                        text-align: right;
                        color: #969696;
                        border-bottom: none;
                    }
                    .textoTablaT{
                        text-align: right;
                        color: white;
                        border-bottom: none;
                    }
                    .subtotal{
                        color: grey;
                        text-align: right;
                        border-top: 2px white solid;
                    }
                    .total{
                        text-align: right;
                        color: #66ff00;
                        border-top: white 2px solid;
                    }
                }
            }
        }
    }
    .textoApiF{
        color: #000000;
        margin-top: 50px;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-content: center;
        .datosPersonales{
            width: 25%;
            background-color: #ffffff;
            margin: 0 auto;
            border-bottom: 1px #161616 solid;
            border-radius: 5px 5px 0px 0px;
            h3{
                margin: 5px;
                padding: 5px;
                font-size: 16px;
            }
        }
        .list{
            display: flex;
            justify-content: space-around;
            .table{          
                background-color: #ffffff;
                width: 25%;
                color: black;
                border-radius: 0px 0px 5px 5px;
                margin-bottom: 30px;
                .precioP, .subtotalF, .totalF, .textoTablaT, .textoTablaST, .precio{
                    text-align: right;
                }
                .nombre, .producto{
                    text-align: left;
                }
                .totalF, .textoTablaT{
                    border-bottom: none;
                }
            }   
        }

    }
}